.books-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.book-card {    
    border: 1px solid black;
    border-radius: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 40px;
    padding: 5px;
    width: 20%;
    overflow: hidden;
}

.book-card > * {
    padding: 3px;
    justify-content: left;
    margin-left: 5%;
}

.book-card > p {
    justify-content: left;
    margin-left: 20px;
    font-size: 25px;
}

.book-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.no-books {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    text-align: center;
}

.add-new-book {
    width: 100%;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    margin-top: 30px;
    padding: 5px;
    background-color: antiquewhite;
    font-size: x-large;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
}

.add-new-book:hover {
    background-color: #2C3A47;
    color: #fff;
}

.btns-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
}

.delete-book {
    width: 10%;
    background-color: #eb3b5a;
    margin: 0;
    padding: 6px;
    border-radius: 5%;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.delete-book:hover {
    background-color: #fc5c65;
}


.delete-book > span {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

.edit-book {
    width: 10%;
    margin: 0;
    padding: 6px;
    border-radius: 5%;
    background-color: #eccc68;
    cursor: pointer;
    transition: 0.3s;
}

.edit-book:hover {
    background-color: antiquewhite;
}


@media only screen and (min-device-width: 280px) and (max-device-width: 653px) {
    .top-bar > p, h1 {
        cursor: pointer;
        margin-top: 10px;
        font-size: large;
    }

    .book-card {
        width: 100%;
    }

    .no-books {
        width: 90%;
        margin-top: 25vh;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
    .book-card {
        width: 100%;
    }

    .no-books {
        width: 90%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    .book-card {
        width: 100%;
    }

    .no-books {
        width: 90%;
    }
}

@media only screen and (min-device-width: 540px) and (max-device-width: 720px) {
    .no-books {
        margin-top: 30vh;
    }

    .no-books > p {
        font-size: 20px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .book-card {
        width: 30%;
    }

    .no-books {
        margin-top: 30vh;
        width: 80%;
    }

    .no-books > h1 {
        font-size: 70px;
    }

    .no-books > p {
        font-size: 40px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    .no-books {
        margin-top: 30vh;
        width: 80%;
    }

    .no-books > h1 {
        font-size: 70px;
    }

    .no-books > p {
        font-size: 40px;
    }
}
