.form-title-container {
    display: block;
    margin-left: 50px;
    margin-top: 20px;
}

.form-container {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #2d3436;
    color: #fff;
    font-size: x-large;
}

input[type=text], input[type=number], input[type=password] {
    width: 100%;
    padding: 12px;
    border: 1px solid antiquewhite;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    outline: none;
}

.submit {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    margin-top: 30px;
    font-size: large;
    cursor: pointer;
    transition: 0.3s;
}


.submit:hover {
    background-color: #10ac84;
    color: #fff;
}

.cancel {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    margin-top: 30px;
    font-size: large;
    cursor: pointer;
    transition: 0.3s;
}

.cancel:hover {
    background-color: #e74c3c;
    color: #fff;
}

.required {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #e74c3c;
    font-weight: bold;
}

.user-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    border-radius: 5%;
}