* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 35px;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: antiquewhite;
  box-shadow: 2px 2px 10px #b2bec3;
}

.title {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.top-bar-buttons {
  display: inline-block;
  cursor: pointer;
  margin-top: 10px;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.top-bar-buttons:hover {
  cursor: pointer;
  margin-top: 10px;
  font-weight: bolder;
}

.authentication-buttons {
  display: flex;
  flex-direction: row;
}

.authentication-buttons > p {
  cursor: pointer;
  margin-top: 10px;
  font-size: large;
}

.authentication-buttons > p:hover {
  cursor: pointer;
  margin-top: 10px;
  font-weight: bolder;
}

.not-logged {
  display: block;
  width: 100%;
  margin-top: 25vh;
  text-align: center;
  font-size: 50px;
}

.signin {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

.signin:hover {
  cursor: pointer;
  font-weight: bolder;
}


.signup {
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
  color: black;
}

.signup:hover {
  cursor: pointer;
  font-weight: bolder;
}